<router-outlet></router-outlet>
<!-- <button mat-raised-button color="warn">Logar com o Google</button>
<mat-icon>face</mat-icon>
<app-string-interpolation></app-string-interpolation>
<app-property-binding></app-property-binding>
<app-event-binding></app-event-binding>
<app-two-way-data-binding></app-two-way-data-binding>
<app-ng-style></app-ng-style>
<app-ng-class></app-ng-class>
<app-ng-if></app-ng-if>
<app-ng-for></app-ng-for>
<app-ng-for-form></app-ng-for-form>
<app-ng-switch></app-ng-switch>
<app-ng-template></app-ng-template>
<app-ng-container></app-ng-container>
<app-ng-content>
    <p>My name is <strong>Homer Simpson</strong>, nice to meet you.</p>
    <p>One more beer, please!</p>
</app-ng-content> -->
<!-- <app-input-binding name="bob" otherName="arroz" [age]="age"></app-input-binding> -->
<!-- <app-event></app-event> -->
<!-- <app-products></app-products> -->
<!-- <app-clients></app-clients> -->
<mat-slide-toggle #toggle1>Component1</mat-slide-toggle>
<mat-slide-toggle #toggle2>Component2</mat-slide-toggle>
<mat-slide-toggle #toggle3>Component3</mat-slide-toggle>
<mat-slide-toggle #toggle4>Component4</mat-slide-toggle>

<app-component1 *ngIf="toogle1.checked"></app-component1>
<app-component2 *ngIf="toogle2.checked"></app-component2>
<app-component3 *ngIf="toogle3.checked"></app-component3>
<app-component4 *ngIf="toogle4.checked"></app-component4>