<section>
    <button mat-button color="warn" (click)="salvar()">Save</button>
    <button mat-button color="primary" [disabled]="!btnEnable" (click)="inc()">{{btnName}}</button>
</section>

<section>
    <button mat-button color="warn" [disabled]="!btnEnable">Meu Botão 2</button>
    <button mat-button color="primary" [disabled]="!btnEnable">Meu botão 3</button>

    <button mat-button color="primary" [disabled]="!btnEnable" (click)="btnDesabilitar()">Disable</button>
    <mat-progress-spinner color="warn" [mode]="spinnerMode" value="{{i}}">
    </mat-progress-spinner>
</section>

<section>
    <mat-card>
        <mat-card-content>
            <p>
                <mat-checkbox color="warn" (change)="cbChange($event)">Disable / Enable</mat-checkbox>
            </p>

            <mat-form-field>
                <mat-label>Cars</mat-label>
                <mat-select required [disabled]="selectDisabled" (selectionChange)="selectionChange($event)">
                    <mat-option value="1">Volvo</mat-option>
                    <mat-option value="2">Saab</mat-option>
                    <mat-option value="3">Mercedes</mat-option>
                    <mat-option value="4">Audi</mat-option>
                </mat-select>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <p>Selected option {{selectedOption}}</p>
        </mat-card-actions>
    </mat-card>
</section>
<mat-divider></mat-divider>

<section>
    <mat-card>
        <mat-card-content>
            <mat-form-field>
                <input matInput placeholder="Primeiro Nome" (input)="inputName = $event.target.value" [value]="inputName">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            Name:{{inputName}}
        </mat-card-actions>
    </mat-card>
</section>