<section>
    <mat-card style="margin: 20px">
        <mat-card-content>
            <form>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Coloque seu Nome" [(ngModel)]="nome" name="nome">
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Coloque seu Sobrenome" [(ngModel)]="sobrenome" name="sobrenome">
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <p>{{nome}} </p>
            <p>{{sobrenome}}</p>
        </mat-card-actions>
    </mat-card>
</section>
<section>
    <mat-card style="margin: 20px">
        <mat-card-title>
            Cliente
        </mat-card-title>
        <mat-card-content>
            <form>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Coloque seu Nome" [(ngModel)]="cliente.nome" name="nome">
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Coloque seu Sobrenome" [(ngModel)]="cliente.sobrenome" name="sobrenome">
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Coloque seu endereço" [(ngModel)]="cliente.endereco" name="endereco">
                </mat-form-field>
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Coloque sua idade" [(ngModel)]="cliente.idade" name="idade">
                </mat-form-field>

            </form>
        </mat-card-content>
        <mat-card-actions>
            <p>Nome: {{cliente.nome}} </p>
            <p>Sobrenome: {{cliente.sobrenome}}</p>
            <p>Endereço: {{cliente.endereco}} </p>
            <p>Idade: {{cliente.idade}}</p>
        </mat-card-actions>
    </mat-card>
</section>